<div id="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.renovationettravaux.fr/wp-content/uploads/2017/11/Prix-de-l%E2%80%99am%C3%A9nagement-d%E2%80%99un-loft-industriel.jpg');">
  <div class="container">
    <h1>Simple Airbnb</h1>
    <p>Book the <strong>best experience</strong> in town</p>
    <h2><%= link_to 'Book now', flats_path, class:"btn btn-gradient"%></p>
  </div>
</div>
